@import './configure/configure';
@import './body_content/body_content';
@import './modal/modal';
@import './theme_style';
body {
    overflow-x: hidden;
    background-color: $background-default;
    .container-fluid,
    .container {
        padding: 0;
        .row {
            margin: 0;
            width: 100%;
        }
    }
}

.menu-bar {
    position: fixed;
    z-index: 10;
}

.slide-bar,
.body-content,
.technology-life,
.resolve-service,
.project-demo,
.projects-slide,
.my-partners,
.feedbacks-slide,
.footer {
    position: relative;
    overflow-x: hidden;
}

.required-label:after {
    content: " *";
    color: $red-color;
}