.content-products {
  margin-top: 5rem;

  .title-products {
    h1 {
      text-align: center;
      width: 100%;
      padding-bottom: 2rem;
      color: $primary-color;
      text-transform: uppercase;

      &._product {
        padding-top: 2rem;
      }
    }
  }

  .all-products,
  .highlight-products,
  .mobile-products,
  .laptop-products,
  .watch-products,
  .wireless-products {
    .row {
      margin-left: 7rem;
    }

    .grid-style {
      padding: 1rem;
      text-align: center;
      border: 1px solid $primary-color;
      background-color: $third-color;
      border-radius: 1rem;
      margin: 0 1.5rem 1.5rem 0;

      &:hover {
        background-color: $red-color;

        .all-products__title,
        .highlight-products__title,
        .mobile-products__title,
        .laptop-products__title,
        .watch-products__title,
        .wireless-products__title,
        .all-products__price,
        .highlight-products__price,
        .mobile-products__price,
        .laptop-products__price,
        .watch-products__price,
        .wireless-products__price,
        .add-to-cart,
        .out-of-stock {
          color: $third-color;
        }
      }
    }

    a {
      text-decoration: none;
    }

    &__empty {
      text-align: center;
      font-size: 18px;
    }

    &__img {
      width: 200px;
      height: 250px;
      object-fit: cover;
      border-radius: 1rem;
    }

    p {
      margin: 0;
      padding: 6px 0;
    }

    &__title {
      color: $primary-color;
    }

    &__discount {
      color: $red-color;
      font-size: 20px;
      font-weight: bold;
      background: $yellow-color;
      margin: 0 !important;
      padding: 1.5rem 0.5rem !important;
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
    }

    &__price {
      color: $red-color;
      &.special-price {
        text-decoration: line-through $third-color;
        background: $red-color;
        color: $third-color;
      }
    }

    .add-to-cart, .out-of-stock {
      i, span {
        font-size: 18px;
      }
    }
    .add-to-cart {
      color: $primary-color;

      &:hover {
        color: $primary-color-blur;
      }
    }
    .out-of-stock {
      width: 100%;
      background-color: $red-color;
      color: $third-color;
      padding: 0.3rem 0;
    }
  }

  .more-products {
    margin-bottom: 2rem;
    & > .row {
      margin-top: 1rem;
    }

    a {
      width: 100%;
      text-align: right;
      text-decoration: none;

      span {
        color: $primary-color;
        font-size: 18px;
        padding-right: 7rem;

        &:hover {
          color: $primary-color-blur;
          text-decoration: underline;
        }
      }
    }
  }
}