/* Error: Undefined variable.
 *     ,
 * 111 |         background-color: $contentBgColor2;
 *     |                           ^^^^^^^^^^^^^^^^
 *     '
 *   src/main/webapp/resources/sass/theme/_common.scss 111:27               @import
 *   src/main/webapp/resources/sass/theme/_theme.scss 3:9                   @import
 *   src/main/webapp/resources/sass/theme/_theme_dark.scss 2:9              @import
 *   src/main/webapp/resources/primefaces-apollo-green-dark/theme.scss 4:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 111 \2502          background-color: $contentBgColor2;\a     \2502                            ^^^^^^^^^^^^^^^^\a     \2575 \a   src/main/webapp/resources/sass/theme/_common.scss 111:27               @import\a   src/main/webapp/resources/sass/theme/_theme.scss 3:9                   @import\a   src/main/webapp/resources/sass/theme/_theme_dark.scss 2:9              @import\a   src/main/webapp/resources/primefaces-apollo-green-dark/theme.scss 4:9  root stylesheet";
}
